<!-- SIGN UP PAGE -->
<!-- CSS file -> components/_sign_up.scss -->

<div class="sign_up">

  <div class="first-container">
    <!-- <i class="fas fa-film"></i> -->
    <h2 id="sign_up">SIGN UP</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

    <div class="form-actions">
      <%= link_to "Log in", new_user_session_path, class: "button", id: "login_btn" %>
      <%= f.button :submit, "Sign up", class: "button", id: "sign_up_btn" %>
    </div>
  <% end %>
</div>

  <!-- <%= render "devise/shared/links" %> -->
