<div class="container text-center">
<div class= "group-info-container container">
<div class="group-card-4">
  <h1>Movies</h1>
  <p>Pick your favourites below!</p>
  <br>
  <%= simple_form_for [@group, @user_group, UserMovie.new] do |f| %>
      <%= f.error_notification %>
     <%  @movies.each do |movie| %>
      <p></p>
      <div class="card-product text-center d-flex">
            <img src="<%= movie.image %>" style="height: 130px;"/>
            <div class="selection">
            <input class="movie_choice_input" type="checkbox" id="<%= movie.title %>" name="movies[<%= movie.id %>]">
            <label for="<%= movie.title %>" style="padding: 10px 20px"><%= movie.title %></label>
            </div>
            <%= link_to "https://www.imdb.com/title/#{movie.imdbid}" do %>
              <%= image_tag "imdb-logo.png", style: "height: auto; width: 50px;" %>
            <% end %>
      </div>
     <% end %>
      <%#= f.association :movie, include_blank: false,label: false %>
      <br>
      <br>
      <br>
      <%= f.submit "Submit my vote", class: "button-1" %>
  <% end %>
    </div>
</div>
</div>
