<!-- DISPLAY GROUPS TO JOIN ONE PAGE -->
<!-- CSS file -> components/_index.css -->


<div class="group-card">
<img class="img-genre"src="https://www.livingmagazine.net/wp-content/uploads/Home-A-Night-In-at-the-Movies-1p_web1.jpg" />
    <div class="group-card-infos">
    <h2 id="grp">GROUPS</h2>
  </div>

  <!--<p>Search for groups</p>-->
  <div data-controller="search-movies">
    <%= form_with url: groups_path, method: :get, html: { class:
      'mb-4', data: { search_movies_target: 'form' } } do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search group',
                      value: params[:query],
                      data: { search_movies_target: 'input' } %>
                      <% end %>
  </div>


  <% if @groups.empty? %>
    <p class="">No groups</p>
  <% else %>
    <% @groups.each do |group| %>
      <%#= link_to  new_group_user_group_path(group), class: "group-link" do %>
      <%= link_to group_path(group), class: "group-link" do %>
        <div class="card-group-infos">
          <p class="button" id="group-name"><%= group.name %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="previous">
    <%= link_to 'Back', pages_friends_path, class: "button", id: "back" %>
  </div>
</div>
