<div class="container">
  <div class="fas-logo">
    <i class="fas fa-film"></i>
  </div>

  <div class="create-group-page">
  <%= simple_form_for @group do |f| %>
  <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.submit %>
  <% end %>
  </div>
  <%= link_to 'Back', pages_friends_path, class: "previous"  %>
</div>
