<!-- CREATE GROUP PAGE -->
<!-- CSS file -> components/_sign_up.scss -->
<div class="container text-center">
  <i class="fas fa-users fa-8x"></i>

  <div class="create-group-page">
    <%= simple_form_for @group do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :genre_id, collection: @genres %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <br>
      <%= f.submit "Create a group", class: "button-1"  %>
    <% end %>
    <br>
    <br>
    <br>
</div>
</div>
  <%= link_to 'Back', pages_friends_path, class: "back-button-1" %>
