<!-- CREATE GROUP PAGE -->
<!-- CSS file -> components/_sign_up.scss -->

<div class="create-group">
  <div class="first-container">
    <h2 id="create-a-group">Create a Group</h2>
  </div>

  <div class="create-group-page">
    <%= simple_form_for @group do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :genre_id, collection: @genres %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.submit %>
    <% end %>
  </div>
  <%= link_to 'Back', pages_friends_path, class: "button", id: "back"  %>
</div>
