<div class="container">
  <%= image_tag "results-img.png", class: "results-img"%>
  <% @results.each do |result| %>
  
    <div class="card-results">
    
      <img src="<%= result.first.image %>" />
      <div class="card-results-infos">
        <h1><%= result[0].title %></h1>
        <p><%= result.first.description %></p>
      </div>
      <div class="percentage">
        <%= (result[1] * 100).round %>%
      </div>
      <div>
        <%= link_to "https://www.netflix.com/watch/#{result.first.nfid}" do %>
          <p>Netflix</p>
        <% end %>
        <br>
        <%= link_to "https://www.imdb.com/title/#{result.first.imdbid}" do %>
          <p>Imdb</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="back-to-groups-button">
  <%= link_to "Back to Groups", groups_path(@group), class: "button-first-vote-1", id: "back_to_groups" %>
</div>
