<!-- DISPLAY LIST/INDEX/DETAILS OF USERS/GROUPS -->
<!-- CSS file -> components/_group-show.scss -->
<div class= “group-info-container”>
    <div class=“group-card”>
      <img class=“img-genre”src=“https://s.studiobinder.com/wp-content/uploads/2019/09/Movie-Genres-Types-of-Movies-List-of-Genres-and-Categories-Header-StudioBinder.jpg” />
      <div class=“group-card-infos”>
        <p id=“groups-name”><b>GROUP NAME</b></p>
        <p><%= @group.name %></p>
        <p><b>MOVIE GENRE</b> <i class=“fas fa-theater-masks”></i></p>
        <p><b>CREATED BY</b> <i class=“fas fa-user-edit”></i></p>
        <p class=“group-creator”><%= @group.user.name %></p>
        <p><b>GROUP MEMBERS</b> <i class=“fas fa-users”></i></p>
        <ul>
          <% @group.users.each do |user| %>
            <div class=“list”>
              <li><%= user.name %></li>
            </div>
          <% end %>
        </ul>
      </div>
   </div>
    <!--<ul>
      <% @group.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>-->
    <% if current_user.groups.include?(@group) %>
     <!-- <h2>Welcome to your group!</h2  > -->
    <% else %>
      <%= simple_form_for [@group, UserGroup.new] do |f| %>
        <%= f.error_notification %>
        <%= f.input :password, required: true, :placeholder => “Password” %>
        <%= f.submit ‘Join’ %>
      <% end %>
    <% end %>
        <% if !@user_group.nil? %>
          <% if @empty_movies %>
          <div class=“button-first”>
            <%= link_to ‘Start voting’, group_movies_path(@group) %>
          </div>
          <% else %>
            <br>
              <p>Your choices:</p>
              <% @user_group.movies.each do |movie| %>
                <div class=“list”>
                  <li><%= movie.title %></li>
                </div>
                <p>Wating for your group members to vote...</p>
             <% end %>
          <% end %>
        <% end %>
          </div>
    </div>
    <br>
  </div>
  <% if !@non_votants.empty? %>
    <p>Wating to the other members to vote:</p>
    <% @non_votants.each do |non_votant| %>
      <p><%= non_votant.user.name %></p>
    <% end %>
  <% else %>
    <p>Everyone voted :D</p>
    <%= link_to ‘Result’, results_path(@group),  class: “button” %>
  <% end %>
    <br>
  <!-- <div>
    <%#= link_to ‘Back’, groups_path, class: “button”, id: “back”%>
  </div> -->