<!-- DISPLAY LIST/INDEX/DETAILS OF USERS/GROUPS -->
<!-- CSS file -> components/_group-show.scss -->

<div class="banner-22" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.trynkle.com/site/wp-content/uploads/2021/01/the-cinema-industry-e1610964520156.jpg);">
  <div class="container">
    <div class="group-card-1">
      <div class="group-card-infos">
        <p id="groups-name"><b>GROUP NAME</b> <i class="fas fa-signature"></i> </p>
        <p><%= @group.name %></p>
        <!--<p id="groups-name"> <b>MOVIE GENRE</b> <i class="fas fa-theater-masks"></i></p>-->
        <p id="groups-name"><b>CREATED BY</b> <i class="fas fa-user-edit"></i></p>
        <p class="group-creator"><%= @group.user.name %></p>
        <p id="groups-name"><b>GROUP MEMBERS</b> <i class="fas fa-users"></i></p>
        <% @group.users.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
      </div>
  </div>
    <% if current_user.groups.include?(@group) %>
    <% else %>
      <%= simple_form_for [@group, UserGroup.new] do |f| %>
        <%= f.error_notification %>
        <%= f.input :password, required: true %>
        <%= f.submit 'Join' %>
      <% end %>
    <% end %>
    <div>
    <% if !@non_votants.empty? %>
    <div class="group-card-2">
    <% else %>
    <br>
    <% end %>
      <% if @empty_movies %>
        <%= link_to 'Start voting', group_movies_path(@group),  class: "button-first-vote" %>
      <% else %>
    </div>
      <div class="group-card-1">
        <% if !@user_group.nil? %>
        <p><b>Your choices: </b></p>
        <li>
          <% @user_group.movies.each do |movie| %>
            <%= movie.title %></li>
          <% end %>
          <% end %>
        <% end %>
      </div>
      </div>
      <% if !@non_votants.empty? %>
      <div class="group-card-3">
        <p><b>Still waiting for.....</b></p>
        <li>
        <% @non_votants.each do |non_votant| %>
          <%= non_votant.user.name %></li>
        <% end %>
      <% else %>
      <div class="group-card-3">
      <div class="voted-button">
      <br>
        <p><b>Everyone voted! </b></p>
        <br>
      </div>
        <%= link_to 'Results', results_path(@group), class: "button-first-vote" %>
      </div>
      <% end %>
    </div>
    </div>






  <!-- <div>
    <%#= link_to 'Back', groups_path, class: "button", id: "back"%>
  </div> -->
