<!-- DISPLAY LIST/INDEX/DETAILS OF USERS/GROUPS -->
<!-- CSS file -> components/_group-show.scss -->

<div class= "group-info-container">


  <div class="group-info">

    <p id="groups-name">GROUP NAME:  <%= @group.name %></p>
    <p>CREATED BY:  </p>
    <p class="group-creator"><%= @user_group.user.name %></p>
    <p style="margin-bottom: 5px;">GROUP MEMBERS:  </p>

    <ul>
      <% @group.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
    <% if current_user.groups.include?(@group) %>
      <h2>You belong to this group</h2  >
    <% else %>
      <%= simple_form_for [@group, UserGroup.new] do |f| %>
          <%= f.error_notification %>
            <%= f.input :password, required: true %>
            <%= f.submit 'Join' %>

        <% end %>
    <% end %>
     <div>
    <%= link_to 'Select the amazing movie for this movie night- Vote Now', group_movies_path(@group),  class: "button" %>
  </div>
  <br>

  </div>




  <div>
    <%= link_to 'Back', groups_path, class: "button", id: "back"%>
  </div>

</div>
