<!-- DISPLAY LIST/INDEX/DETAILS OF USERS/GROUPS -->
<!-- CSS file -> components/_group-show.scss -->

<% content_for :meta_title, "#{@group.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @group.name %>
<%# content_for :meta_image, cl_image_path(@group.photo.path) %>
<div class="container text-center">
<br>
    <div class="black-card">
      <h2><%= @group.name %></h2>
      <p><%= @group.genre.name %></p>
      <p>Created by <%= @group.user.name %></p>
    </div>

 <div class="black-card">
    <i class="fas fa-users fa-2x" style="margin-bottom: 10px;"></i>
    <% @group.users.each do |user| %>
        <p><%= user.name %></p>
    <% end %>
  </div>

  <% if current_user.groups.include?(@group) %>
  <% else %>
  <div class="black-card container">
    <%= simple_form_for [@group, UserGroup.new] do |f| %>
      <%= f.error_notification %>
      <%= f.input :password, required: true %>
      <%= f.submit 'Join',  class: "button-1" %>
    <% end %>
   </div>
  <% end %>



  <% if !@non_votants.empty? %>
    <div class="black-card" style="margin-top: 30px;">
    <p>Waiting</p>
    <% @non_votants.each do |non_votant| %>
      <p><%= non_votant.user.name %></p>
      <% end %>
    </div>
  <% end %>
  <% if @empty_movies %>
    <br>
    <%= link_to 'Start voting', group_movies_path(@group),  class: "button-1" %>

  <% else %>
    <% if !@user_group.nil? %>
    <div class="black-card">
    <p>Your choices:</p>
      <% @user_group.movies.each do |movie| %>
        <p><%= movie.title %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @non_votants.empty? %>
  <br>
  <%= link_to "Results", results_path(@group), class: "button-1", id: "results" %>
  <% end %>

</div>



  <!-- <div>
    <%#= link_to 'Back', groups_path, class: "button", id: "back"%>
  </div> -->
