<!-- DISPLAY LIST/INDEX/DETAILS OF USERS/GROUPS -->
<!-- CSS file -> components/_group-show.scss -->

<div class= "group-info-container">

    <div class="group-card">
      <img class="img-genre"src="https://s.studiobinder.com/wp-content/uploads/2019/09/Movie-Genres-Types-of-Movies-List-of-Genres-and-Categories-Header-StudioBinder.jpg" />
      <div class="group-card-infos">
        <p id="groups-name"><b>GROUP NAME</b></p>
        <p><%= @group.name %></p>
        <p><b>MOVIE GENRE</b> <i class="fas fa-theater-masks"></i></p>
        <p><b>CREATED BY</b> <i class="fas fa-user-edit"></i></p>
        <p class="group-creator"><%= @user_group.user.name %></p>
        <p><b>GROUP MEMBERS</b> <i class="fas fa-users"></i></p>
        <ul>
          <% @group.users.each do |user| %>
            <li><%= user.name %></li>
          <% end %>
        </ul>
      </div>

  </div>
    <div class="movie_night_begin">
      <% if current_user.groups.include?(@group) %>
        <p id="movie_night_begin">Let the Movie Night begin!</p>
      <% else %>
        <%= simple_form_for [@group, UserGroup.new] do |f| %>
            <%= f.error_notification %>
              <%= f.input :password, required: true %>
              <%= f.submit 'Join' %>
          <% end %>
      <% end %>
    </end>
    <div class="select_movie">
      <%= link_to 'Select Movie', group_movies_path(@group),  class: "button", id: "select_movie" %>
    </div>
  <br>

  </div>




  <div>
    <%= link_to 'Back', groups_path, class: "button", id: "back"%>
  </div>

</div>
